

#pairsTitleHandle{
  margin-top: -3%;
}

#pairsTitleCloseBox{
  margin-top: -3.4%;  
  margin-left: -91.75%; 
  }

#pairsCloseInner{
/*    padding-left: 3px;*/
  }



#field-rows {
  margin: 3px;
}

.row-container {
  margin: 0px;
  display: flex;
  flex-direction: row;
}

.row-selection{
  width: 225px;
}

#pairsNames {
    border: 1px solid black;
    margin: 3px;
    width: 580px;
    height: 323px;
    overflow: auto;
}

#pairsContent {
    position: fixed;
    width: 40%;
    height: 54%;
    min-width: 545px;
    min-height: 395px;
}

.select {
  width: 100px;
  overflow: auto;
}

#pairNames {
  margin-left:1%;
  width: 98%;
}

/*#names {
    border: 1px solid black;
    width: 500px;
    height: 300px;
    overflow: auto;
}
*/
.column-container {
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}


.title:before{
  width: 43%;
}

.title:after{
  width: 43%;
}