#dataset-search-select {
  width: 120px;
}

#resolution-search-select {
  width: 120px;
}

#tool-search-select {
  width: 120px;
}

/*

.multipleSelection {
    width: 300px;
    background-color: #BCC2C1;
}*/

.selectBox {
    position: relative;
}

.selectBox select {
    width: 100%;
    font-weight: bold;
}

.overSelect {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}

#checkBoxes {
    display: none;
    border: 1px #8DF5E4 solid;
}

#checkBoxes label {
    display: block;
}

#checkBoxes label:hover {
    background-color: #4F615E;
    color: white;
    /* Added text color for better visibility */
}


@media (prefers-color-scheme: dark) {
.downshift-dropdown{
    background-color: #141414;
}
.dropdown-item{
    background-color: #141414;
}
}

@media (prefers-color-scheme: light) {
.downshift-dropdown{
    background-color: lightgray;

}
}














/*

.switch {
  position: relative;
  display: inline-block;
  width: 140px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 62px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}
@media (prefers-color-scheme: dark) {
    input:checked + .slider {
      background-color: #14998b;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #14998b;
    }
}

@media (prefers-color-scheme: light) {
    input:checked + .slider {
      background-color: #c15260;
    }

    input:focus + .slider {
      box-shadow: 0 0 1px #c15260;
    }
}

input:checked + .slider:before {
  -webkit-transform: translateX(70px);
  -ms-transform: translateX(70px);
  transform: translateX(70px);
}

*/

/* Rounded sliders */
/*.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
} */

