<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <nav class="row-container">
      <button id="backBtn">Main Menu</button>
      <button id="viewToQueryBtn"> Query </button>
      <button id="viewToInspectBtn"> Inspect </button>
      <!-- <button id="viewToViewerBtn"> Viewer </button> -->
      <button id="viewToPairsBtn"> Pairs </button>    
      <!-- <button id='hahaha'> ????</button>   -->
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
      $( function() {
          $( "#content" ).draggable({ handle: "h1.title" });
      } );
      $( function() {
          $( "#pbcontent" ).draggable({ handle: "h1.title" });
      } );
    </script>

    </nav>
    <!-- <title>Hello World!</title> -->
  </head>
  <body>
    <section>

  <div id="content" class="content">
  <div class="control-box close-box"><a class="control-box-inner"></a></div>
  <div class="control-box zoom-box"><div class="control-box-inner"><div class="zoom-box-inner"></div></div></div>
  <div class="control-box windowshade-box"><div class="control-box-inner"><div class="windowshade-box-inner"></div></div></div>

    <h1 class="title">SQL Query</h1>
    <div class="row-container">
      <select name="fields" id="dataset-field-select" selected="dataset">
        <option value="dataset">Dataset</option>
      </select>
    </div>

    <div class="row-container">
      <select name="fields" id="resolution-field-select" selected="resolution">
        <option value="resolution">Resolution</option>
      </select>
    </div>

    <div class="row-container">
      <select name="available" id="names-field-select" selected="all">
        <option value="all">All</option>
      </select>
      <!-- <input type="text" id="sqlite3-query" placeholder="SQL Query"/> -->
    </div>

    <div class="row-container">
      <button type="button" id="queryBtn">Query</button>
      <button type="button" id="inspectBtn">Inspect</button>
      <button type="button" id="copyToPbBtn">Copy</button>
      <!-- <button type="button" id="resetBtn">Clear</button>  -->
    </div>
    <div>
      <select id="names" multiple size="10"></select>
    </div>




    <div class="row-container offset-navigation" >
      <button type="button" id="offSetLeftButton">&#8592;</button>
      <button type="button" id="offSetRightButton">&#8594;</button>
    </div>
    <div class="row-container offset-navigation">
      <span id="offsetPage"></span>
    </div>
  </div>
  </section>

<!--   <div id="hide-popboard" style="display: none" class="pbcontent">
    <div class="control-box close-box"><a class="control-box-inner"></a></div>
    <div class="control-box zoom-box"><div class="control-box-inner"><div class="zoom-box-inner"></div></div></div>
    <div class="control-box windowshade-box"><div class="control-box-inner"><div class="windowshade-box-inner"></div></div></div>
    <h1 class="title">Popboard</h1>
    <div id="hide-body" style="display: none">
      <select multiple size=20></select>
    </div>
  </div> -->







    <script src="query_form.js"></script>
    <link rel="stylesheet" href="../style.css" />
    <link rel="stylesheet" href="query.css" />
  </body>
</html>