
#queryTitleHandle{
  margin-top: -3%;
}

#queryTitleCloseBox{
  transform: translate();
  margin-top: -3.5%;  
  margin-left: -91.725%; 
  }

#queryCloseInner{
/*    padding-left: 3px;*/
  }



#queryNames {
    border: 1px solid black;
    margin: 4px;
    width: 98.5%;
    height: 320px;
    overflow: auto;
}

.row-container {
/*  margin: 3px;*/
  display: flex;
  flex-direction: row;
}

.offsets {
  height: 21.5px;
  align-items: center;
}

#offsetPage {
  margin-left: 4px;
}

#colloidalCallButton {
  background-color: #b45962;
/*  border: none;*/
/*  color: white;*/
/*  padding: 10px;*/
  text-align: center;
/*  text-decoration: none;*/
  display: inline-block;
/*  font-size: 16px;*/
}





/*select {
  width: 200px;
  overflow: auto;
}
*/
/*
select#field-select{
  width: 95px;
  overflow: auto;
}*/

/*select#avail-field-select{*/
/*  margin-bottom: 10px; */
/*  padding: 5px;*/
/*  font-size: 14px;*/
/*  width: 200px;*/
/*  height: 100px;*/
/*  overflow: auto;*/
/*}*/

input#sqlite3-query{
  height: 19px;
}
#queryContent {
/*    z-index: 2;
    font-size: 12px;
    font-weight: normal;*/
    width: 40%;
    height: 60%;
    min-width:600px;
    min-height: 500px;
/*    margin: 100px auto 0;
    border: 1px solid #111;
    background: #ccc;
    box-shadow:
  1px 2px #111,
  inset 1px 1px 0px 0px #fff,
  inset -1px -1px 0px 0px #999;*/
}

/*
.pbcontent {
    position: relative;
    top: 10px;
    z-index: 2;
    font-size: 12px;
    font-weight: normal;
    height: 300;
    width: 500;
    margin: 100px auto 0;
    border: 1px solid #111;
    background: #ccc;
    box-shadow:
  1px 2px #111,
  inset 1px 1px 0px 0px #fff,
  inset -1px -1px 0px 0px #999;
}*/