#names {
    border: 1px solid black;
    margin: 3px;
    width: 762px;
    height: 370px;
    overflow: auto;
}

.row-container {
  margin: 3px;
  display: flex;
  flex-direction: row;
}

.offsets {
  height: 21.5px;
  align-items: center;
}

#offsetPage {
  margin-left: 4px;
}

select {
/*  padding: 5px;*/
  width: 200px;
  overflow: auto;
}

/*
select#field-select{
  width: 95px;
  overflow: auto;
}*/

/*select#avail-field-select{*/
/*  margin-bottom: 10px; */
/*  padding: 5px;*/
/*  font-size: 14px;*/
/*  width: 200px;*/
/*  height: 100px;*/
/*  overflow: auto;*/
/*}*/

input#sqlite3-query{
  height: 19px;
}
.content {
    position: fixed;
    left: 4px;
    top: -66px;
/*    z-index: 2;
    font-size: 12px;
    font-weight: normal;*/
    width: 770px;
    height: 520px;
/*    margin: 100px auto 0;
    border: 1px solid #111;
    background: #ccc;
    box-shadow:
  1px 2px #111,
  inset 1px 1px 0px 0px #fff,
  inset -1px -1px 0px 0px #999;*/
}

.title:before{
  width: 42%;
}

.title:after{
  width: 42%;
}

.pbcontent {
    position: relative;
    top: 10px;
    z-index: 2;
    font-size: 12px;
    font-weight: normal;
    height: 300;
    width: 500;
    margin: 100px auto 0;
    border: 1px solid #111;
    background: #ccc;
    box-shadow:
  1px 2px #111,
  inset 1px 1px 0px 0px #fff,
  inset -1px -1px 0px 0px #999;
}