

#downloadTitleHandle{
  margin-top: -2.5%;
}

#downloadTitleCloseBox{
  margin-top: -3.75%;  
  margin-left: -91.725%; 
  }

#downloadCloseInner{
/*    padding-left: 3px;*/
  }









div .column-container{
    margin: 8px;
    margin-left: 24px;
}


div #downloadRow.row-container{
    margin-top: 8px;
}

select#download-names{
    width: 340px;
}

#downloadBlock{
    margin-left: 0px;
}
/*
#idCOMPT {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap:10px;
    position: fixed;
    margin-top: 19%;
    margin-left: 26%;
    width: 300px;
    height: 50px;
/*    background: #000;*/

}*/