<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="utf-8">
	<!-- <meta http-equiv="X UA-Compatible" content="IE=edge"> -->
	<meta name="viewport" content="width=<device-width>, initial-scale=1.0">
	<title>pasteboardWindow</title>
    <nav class="row-container"> 
    </nav>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
	  // $( function() {
	  //     $( "#content" ).draggable({ handle: "h1.title" });
	  // } );
  	  // $( function() {
	  //     $( "#main_docs" ).draggable({ handle: "h1.title" });
	  // } );
	  // function hide(obj) {
		//   var el = document.getElementById(obj);
		//   el.style.display = 'none';
    //   };
  </script>
</head>
<body>
	<div  class="content">
		    <div class="control-box close-box")><a class="control-box-inner"></a></div>
		    <div class="control-box zoom-box"><div class="control-box-inner"><div class="zoom-box-inner"></div></div></div>
		    <div class="control-box windowshade-box"><div class="control-box-inner"><div class="windowshade-box-inner"></div></div></div>
		    <h1 class="title">Pasteboard</h1>
	<div class="row-container">		
		<div>
      <!-- <select id="pasteboard" multiple size=20></select> -->
      <table id="pasteboard-table" border="1">
			    <tbody id="pasteboard">
			    </tbody>
			</table>
		</div>
	</div>

	<div id="pasteboard-commands" class="row-container">
		<button class="command_button" id="pbSelect">Select All</button>
		<button class="command_button" id="pbRemove">Remove</button>
		<button class="command_button" id="pbPaste">Paste To</button>
		<button class="command_button" id="pbDump">Dump</button>
		<button class="command_button" id="pbTalk">Talk</button>
		<!-- <button class="command_button">To Main</button> -->
	</div>

	</div>
	<script src="popBoard.js"></script>
    <link rel="stylesheet" href="style.css" />
    <link rel="stylesheet" href="popBoard.css" />
</body>
</html>